includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
    excludePaths:
        - app/Http/Controllers/Auth
        - app/Http/Controllers/HomeController.php
        - app/Http/Controllers/MessagesController.php
        - app/Http/Controllers/RoomsController.php
        - app/Http/Middleware/EncryptCookies.php
        - app/Http/Middleware/TrimStrings.php
        - app/Http/Middleware/TrustProxies.php
        - app/Http/Middleware/VerifyCsrfToken.php
        - app/Http/Resources
